body {
    background-color: rgb(238, 209, 189);

  }

  header {
    background-color: rgb(255, 116, 23);
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content:left;
  }

  header img {
    width: 6%;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  
  h1 {
    font-size: 4em;
  }
  
  
  p {
    color: rgb(148, 13, 8);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 10px;
  }

  #one {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  #one img {
    width:50%;
  }

  #two {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
 #three {
   display: flex;
   align-items: center;
 }

 #three img {
   margin-top: 0;
   margin-left: 30px;
   text-align: left;
 }

 #three li {
   font-size: 2em;
   margin-left: 20px;
   font-family: cursive;
 }
  
 #four {
   margin-top: 20px;
 }

 #form {
   
   display: flex;
   justify-content: center;
   gap:30px;
 }
  
  fieldset {
    background-color: rgb(231, 240, 248);
    border: 5px dashed rgb(92, 50, 50);
    padding: 5px;
    margin-bottom: 10px;
  }
  
  legend {
    font-size: 1.5em;
    font-weight: bold;
    border: cadetblue;
    position:relative;

  }
  
  input[type=text] {
    width: 18%;
    margin-right: 5px;
  }
  
 
  
  table * {
    margin-top: 5px;
    border: 2px solid black;
    padding: 2px;
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(235, 141, 97);
  }

  #jslist {
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

  }


  footer {
    height: 50px;
    background-color: rgb(231, 94, 2);
    position: sticky;
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 10px;
    margin-top: 20px;
  }

  footer p {
      color: ivory;
      font-size: medium;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  footer img {
      width: 4%;
  }